

<ion-content [fullscreen]="true">
  
  <!-- !header  -->
  <ion-header>
    
    <div class="head1">
      <a Href="ingresar" ><ion-icon size="large" name="arrow-back" ></ion-icon></a>
      
    </div>
    <div class="head2">
    
        <div class="label">
          <ion-label class="yellow">Registr</ion-label>
          <ion-label class="blue">App</ion-label>
        </div>
        <div class="label2">
          <ion-label class="yellow">Duoc</ion-label>
          <ion-label class="blue">UC</ion-label>
          <ion-img src="../../assets/icon/logo2.png"></ion-img>
        </div>
  
    </div>
    
    
  </ion-header>
  <!-- !Formulario -->
  <div class="form">  
    <!-- *Input usuario -->
    <ion-item> 
      <ion-label class="texto" position="floating">Nombre de Usuario</ion-label>
      <ion-input placeholder="Ingresar Usuario"></ion-input>
    </ion-item>
    <ion-item> 
      <ion-label class="texto" position="floating">Celular</ion-label>
      <ion-input placeholder="Ingresar celular"></ion-input>
    </ion-item>
    <!-- *boton Recuperar  -->
    <ion-button href="ingresar" shape="round">Recuperar</ion-button>
    
    
  </div>

  
  <!-- <ion-footer>hola</ion-footer> -->
</ion-content>
