@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder
}

ion-header{
    height: 80px;
    display: flex;
    
}
.form{
    margin-top: 50px;
    display: grid;
    
    height: 50%;
    padding: 20px;
}
.head1{
    width: 10%;
    height: 100%;
    background-color: #002138 ;
    padding-top: 10px;
    padding-left: 2px;
    
}

a{  
text-decoration: none; color: #002138;
}
.head2{
    width: 90%;
    height: 100%;
    background-color: #F8B31C;
    padding-top: 10px;
    padding-left: 15px;
}

ion-button {
    --background: #F8B31C;
    --color: #002138;
}
.texto{
    color: #F8B31C;
    font-size: 21px;
    
}

a{
    margin-top: 40px;
    text-align: center;
}

ion-img{
 height: 30px;
}

.label, .label2{
    text-shadow: 0 0 1px black;
    font-size: 150%;
    display: flex;
}


.label .yellow, .label2 .yellow{
    color: #f0a400;

}
.label .blue,.label2 .blue{
    color: #002138;
}

ion-icon{
    color: #F8B31C;
}


ion-avatar {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
    font-size: xx-small;
}

ion-tab-bar{
    height: 100px;
}

.welcome{
    text-align: center;
    display: block;
    padding-top: 10px;
}

ion-title{
     font-size: x-large;
     margin: 30px;
}